<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr *ngFor="let p of products">
                <td>{{p.id}}</td>
                <td class="w-75">{{p.name}}</td>
                <td> <a [routerLink]="['/products',p.id]" class="btn btn-primary btn-sm">details</a></td>
                <td> <a [routerLink]="['/products',p.id,'edit']" class="btn btn-primary btn-sm ml-4">edit</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" routerLink="/products" [queryParams]="{page:1, order: 'newest'}">En yeni ürünler</a>
        <a class="btn btn-primary ml-2" routerLink="/products" [queryParams]="{page:1, order:'bestselling'}">En çok satanlar</a>

        <button (click)="loadProducts()" class="btn btn-primary ml-2">Sayfayı Yenile</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>